[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Clojure? ???? ?????? ?? ???
[access "refs/*"]
	owner = group user/Lee Jae-yeol (malkoG)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lee Jae-yeol (malkoG)
	label-Verified = -1..+1 group user/Lee Jae-yeol (malkoG)
	push = group user/Lee Jae-yeol (malkoG)
	read = group user/Lee Jae-yeol (malkoG)
	rebase = group user/Lee Jae-yeol (malkoG)
	removeReviewer = group user/Lee Jae-yeol (malkoG)
	submit = group user/Lee Jae-yeol (malkoG)
[access "refs/heads/*"]
	create = group user/Lee Jae-yeol (malkoG)
	push = +force group user/Lee Jae-yeol (malkoG)
	pushMerge = group user/Lee Jae-yeol (malkoG)
	read = group user/Lee Jae-yeol (malkoG)
[access "refs/tags/*"]
	push = group user/Lee Jae-yeol (malkoG)
	push = +force group user/Lee Jae-yeol (malkoG)
